.hidden {
    display: none;
}

html,
body,
.background {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bkgone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbarBkg {
/*    background: gray;*/
    background: transparent;
}

.captionSize {
    font-size: 24px;
}

.johnNavLink {
    display: block;
    padding: .5rem 0 .5rem 1rem;
    font-size: 20px;
}

.brand {
    background-color: rgb(115, 13, 199);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutTextColor {
    color: rgb(115, 13, 199);
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    /*    background: #eee;*/
    background: rgb(18, 73, 155);
    font-size: 18px;
    transition: 0.2s;
    border-radius: 25px;
    color: white;
    margin: 10px;
    width: 200px;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li::marker {
    color: black;
}

/* lighter background-color on hover */
ul li:hover {
    background: #ddd;
    color: black;
}

/* When clicked on, add a background color */
ul li.correct {
    background: green;
    color: #fff;
}

ul li.wrong {
    background: red;
    color: #fff;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.btnMyStyle {
    color: white;
    background-color: rgb(18, 73, 155);
    border-color: rgb(18, 73, 155);
    border-radius: 25px;
}

.btn:hover {
   color: white;
}

.playerInitials {
    border-radius: 25px;
    outline: none;
    transition: .3s;
    box-sizing: border-box;
    padding: 8px;
    border: 2px solid #aaa;
}

input[type="text"] {
    border-radius: 25px;
    outline: none;
    transition: .3s;
    box-sizing: border-box;
    padding: 8px;
    border: 2px solid #aaa;
}

input[type="text"]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;

}

hr.blueline {
    border: 1px solid rgb(18, 73, 155);
    ;
}